{% extends "base.html" %}

{% load staticfiles %}

{% block title %}{{ category_name }}{% endblock %}

{% block body_block %}

        <h1>The creators!</h1>
        <strong>Jim Walker</strong><br />
        <img src="{% static "images/Jim.jpg" %}"alt="Where is Jim?" /><br />
        <strong>Gustavo Almansa</strong><br />
        <img src="{% static "images/gustavo.jpg" %}"  alt="Where is Gustavo?" /><br />
        <strong>Stig Rasmus Renvall</strong><br />
        <img src="{% static "images/rasmus.jpg" %}" alt="Where is Rasmus?" /><br />
        <strong>George Illingworth</strong><br />
        <img src="{% static "images/george.jpg" %}" alt="Where is George?" /><br />
        <a href="/whatToEat/">Back home</a><br />

{% endblock %}
