{% extends "base.html" %}

{% load staticfiles %}
{% load bootstrap3 %}


{% block title %}{{ recipe.name }}{% endblock %}

{% block body_block %}

    <h1>Enter details of {{ recipe.name }}</h1>

    <form id="recipe_form" method="post" action="{% url 'recipe_details' recipe.slug %}">
        {% csrf_token %}
        {% bootstrap_form recipe_form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                Add Details
            </button>
        {% endbuttons %}
    </form>


{% endblock %}
