{% extends "base.html" %}

{% load staticfiles %}

{% block title %}{{ category_name }}{% endblock %}

{% block body_block %}

        <h1>Add a New Recipe</h1>

        <form id="recipe_form" method="post" action="/whatToEat/category/{{ category }}/add_recipe/">
                {% csrf_token %}
                {{ recipe_form.as_p }}
                {{ ingredient_form.as_p }}
                {{ link_form.as_p }}
        <input type="submit" name="submit" value="Add Recipe" />
    </form>

        
{% endblock %}
