{% extends "base.html" %}

{% load staticfiles %}
{% load bootstrap3 %}


{% block title %}{{ category_name }}{% endblock %}

{% block body_block %}

    <h1>Add a New Recipe</h1>

    <form id="recipe_form" method="post" action="/whatToEat/category/{{ category }}/add_recipe/">
        {% csrf_token %}
        {% bootstrap_form recipe_form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                Add Recipe
            </button>
        {% endbuttons %}
    </form>


{% endblock %}
