{% extends "base.html" %}

{% load whatToEat_extras %}

{% block title %}  All of Our Recipes {% endblock %}

{% block body_block %}

            <div class="panel">
                    <div class="panel-heading">
                    <h3 class="panel-title">All Recipes</h3>
                    <!-- Display search results in an ordered list -->
                    <div class="panel-body">
                        <div class="list-group">
                            {% if recipes %}
                            {% for recipe in recipes %}
                                <div class="list-group-item">
                                    <h4 class="list-group-item-heading"><a href="/whatToEat/recipe/{{ recipe.slug }}">{{ recipe.name }}</a></h4>
                                    <p class="list-group-item-text">Rating: {{ recipe.aggregate }}</p>
                                </div>
                            {% endfor %}
                            {% endif %}
                                </div>
                        
                        </div>
                    </div>

{% endblock %}
