{% extends "base.html" %}

{% block title %} {{ category_name }}{% endblock %}

{% block body_block %}
        {% if category %}

            <div class="panel">
                    <div class="panel-heading">
                    <h3 class="panel-title">{{category_name}}</h3>
                    <!-- Display search results in an ordered list -->
                    <div class="panel-body">
                        <div class="list-group">
                            {% if recipes %}
                            {% for recipe in recipes %}
                                <div class="list-group-item">
                                    <h4 class="list-group-item-heading"><a href="/whatToEat/recipe/{{ recipe.slug }}">{{ recipe.name }}</a></h4>
                                    <p class="list-group-item-text">Rating: {{ recipe.rating }}</p>
                                </div>
                            {% endfor %}
                            {% endif %}
                                {% if user.is_authenticated %}
                                <div class="list-group-item">
                                    <h4 class="list-group-item-heading"><a href="/whatToEat/category/{{ category.slug }}/add_recipe/">Add a New Recipe!</a></h4>
                                    <p class="list-group-item-text">You must be logged in to add Recipes</p>
                                </div>
                                {% endif %}
                        
                        </div>
                    </div>

                    {% endif %}
                </div>
            </div>
 </div>


{% endblock %}
