{% extends "base.html" %}

{% block title %} {{ category_name }}{% endblock %}

{% block body_block %}
        {% if category %}
            {% if recipes %}
            <ul>
                {% for recipe in recipes %}
                <li><a href="/whatToEat/recipe/{{ recipe.slug }}">{{ recipe.name }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>No recipes currently in category.</strong>
            {% endif %}
        {% else %}
            The specified category {{ category_name }} does not exist!
        {% endif %}
        <a href="/whatToEat/category/{{ category.slug }}/add_recipe/">Add a New Recipe!</a><br />
{% endblock %}
