{% extends "base.html" %}

{% load staticfiles %}

{% block title %} Home Page {% endblock %}

{% block body_block %}

        <div class="panel panel-default">
            <div class="panel-heading">What do you want to make?</div>
            <div class="panel-body">

        <form action="search/" method="post">
            {% csrf_token %}
            <input class="form-control" value="" id="search" placeholder="whatTo">
            <button type="button" class="btn btn-default btn-primary">.eat</button>
        </form>
        </div>
        </div>

{% endblock %}
