{% extends "base.html" %}

{% block title %} {{ recipe_name }}{% endblock %}

{% block body_block %}
    <h1> {{ recipe.name }} </h1>
    {% if same %}
        <a class="btn btn-default btn-primary" href="details/">Edit details</a>
    {% endif %}
    <br><br>
    by {{ recipe.author}} <br>
    Rating: {{ recipe.rating }}<br>
    Likes: {{ recipe.likes }}  Dislikes: {{ recipe.dislikes }}<br>
    <form action="" method="post">
            {% csrf_token %}
        <input type="hidden" name="like" value="1">
        <button type="submit">like</button>
    </form>
    <form action="" method="post">
            {% csrf_token %}
        <input type="hidden" name="dislike" value="1">
        <button type="submit">dislike</button>
    </form>
    <br><br>
    {% for ingredient in ingredient_list %}
        {{ ingredient.quantity }} {{ingredient.unit}} {{ ingredient.ingredient.ingredient_name }}   <br>
    {% endfor %}
    <br>
    {{ recipe.instructions }}
{% endblock %}
