{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Search{% endblock %}

{% block body_block %}


            <div class="panel">
                    <div class="panel-heading">
                    <h3 class="panel-title">Results</h3>
                    <!-- Display search results in an ordered list -->
                    <div class="panel-body">
                        <div class="list-group">
                            {% if result_list %}
                            {% for result in result_list %}
                                <div class="list-group-item">
                                    <h4 class="list-group-item-heading"><a href="/whatToEat/recipe/{{ result.slug }}">{{ result.name }}</a></h4>
                                    <p class="list-group-item-text">Rating: {{ result.rating }}</p>
                                    {% endfor %}
                                    {% else %}
                                    <div class="list-group-item">
                                    <h4 class="list-group-item-heading"><a href="/whatToEat/">There are no recipes for you.</a></h4>
                                    <p class="list-group-item-text">Try something else?</p>
                                    {% endif %}
                                </div>
                         
                        </div>
                    </div>
                </div>
            </div>
 </div>

{% endblock %}
